<div class="{{ section.settings.custom_class }}">
  {% style %}
    .scrolling-text--{{ section.id }} {
      --move-speed: {{ section.settings.speed }}s;
    }

    .scrolling-text--{{ section.id }} span {
      font-size: {{ section.settings.text_size }}px;
    }

    {% if section.settings.color_scheme == 'button' %}
      .scrolling-text--{{ section.id }} {
        background: {{ settings.color_button }};
        color: {{ settings.color_button_text }};
      }
    {% endif %}

    {% if section.settings.show_on_mobile == true %}
      .scrolling-texts {
        display: block;
      }

      @media screen and (min-width: 750px){
        .scrolling-texts {
          display: none;
        }
      }
    {% endif %}

    .scrolling-texts {
      overflow: hidden;
    }

    {% if section.settings.show_on_desktop == true %}
      .scrolling-texts {
        display: none;
      }

      @media screen and (min-width: 750px){
        .scrolling-texts {
          display: block;
        }
      }
    {% endif %}

    {% if section.settings.show_on_mobile == false and section.settings.show_on_desktop == false %}
      .scrolling-texts {
        display: none;
      }
    {% endif %}

    {% if section.settings.show_on_mobile == true and section.settings.show_on_desktop == true %}
      .scrolling-texts {
        display: block;
      }
    {% endif %}
  {% endstyle %}

  {% if section.settings.link != blank %}
    <a href="{{ section.settings.link }}" style="font-size: {{ section.settings.text_size }}px">
  {% endif %}
  <div class="scrolling-texts scrolling-text--{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div
      class="scrolling-text__inner scrolling-text__inner--{{ section.settings.direction }}"
      aria-hidden="true"
      tabindex="0"
      style="gap: {% if section.settings.text_spacing %}40px{% else %}10px{% endif %};"
    >
      {% for i in (1..20) %}
        <span>{{ section.settings.text }}</span>
      {% endfor %}
    </div>
  </div>
  {% if section.settings.link != blank %}
    </a>
  {% endif %}
</div>

{% schema %}
{
  "name": "Scrolling texts",
  "class": "index-section--flush",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Free shipping and returns"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "default": 18,
      "min": 12,
      "max": 150,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "text_spacing",
      "label": "Text spacing",
      "default": true
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Speed",
      "default": 600,
      "min": 50,
      "max": 1000,
      "step": 10,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "label": "Show on mobile"
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_on_desktop",
      "label": "Show on desktop"
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Scrolling texts"
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
